* {
    font-family: 'Fraunces', serif;
    color: white;

}

body{
    margin: 0;
    background-color: #A457D9
    

}
header{
    display:flex;
    justify-content: center;

    
    

}
.container{
    display: flex;
    justify-content:center;
    align-items: center; 
    height:100vh ;
    
}
.calculator{
    display: grid;
    grid-template-columns: repeat(4, 75px) ; /*Se hacen columnas de 4 a 75px, se repite*/ 
    grid-template-rows: 160px repeat(5, 75px) ;
    background-color: #575FD9;
    padding: 15px;
    border-radius: 32px;
    box-shadow: 15px 10px 0 5px #00000033;
    
}
label{
    font-size: 50px;
    
}

button{
    font-size: 25px;
    cursor: pointer;
    margin: 4px;
    padding: 0;
    border-radius: 32px;
    border: none;
    background-color: #575FD9;
    box-shadow: 5px 5px 10px -3px #00000040, -5px -5px 15px 3px #00ffc11f; /*muevo las sombras en los ejes de la X y de la Y*/
}
button:active{
    background-color: #5B50B5;
}
button:focus{
    outline: none;
}
/*Decimos a los botones C y 0 que se espandan 2 columnas*/
#col-2{
    grid-column: span 2;
 }

/*Caracteristicas del display*/
 .display-screen{
    grid-column: 1 / -1; /*Aquí hago que mi display sea de ancho como todo container*/
    margin: 10px 10px 20px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-radius: 32px;
    justify-content: space-around;
    word-break: break-all;/* estp es por si tenemos que irnos a otra linea*/
    /* box-shadow: 0px 0px 0px 10px #00000033; */
    padding: 10px;
 }
 
 #before-value{
    font-size: 20px;

 }
 #after-value{
    font-size: 30px;
 }

